body{
    text-align: center;
    background-color: rgba(69, 250, 235, 0.394);
}
.container{
    width: 600px;
    max-width: 40px auto;
}
.game{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px 30px;
}
.photo{
    width: 600px;
    height: 600px;
    background-image:url(./images/rock.png);
    background-repeat:no-repeat;
    background-position: center bottom;
}
#me, #cum{
    font-size:100px;
}
#winner{
    
    color:#fefefe;
    background-color: #4a4a4a;
    border:3px outset rgb(0, 0, 0);
    margin: 20px 180px;
}